.navbar-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* The title */
.navbar-title > h1 {
  margin-left: 1rem;
  font-family: "spartan-bold";
  font-size: 35px;
}

.searchbar {
  display: flex;
  width: max-content(700px);
  height: 48px;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  position: relative;
}

.input-field {
  position: relative;
  z-index: 1000;
}

.search-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: default;
}

.recommendations {
  margin-top: 0px;
  position: absolute;
  width: 100%;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 100%;
  color: #ffffff;
  background-color: #4358f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* cursor: pointer; */
  /* justify-content: center;
  align-items: center; */
}

.dropdown-list {
  position: absolute;
  top: 100%;
  /* width: 160px; */
  left: 0px;
  right: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
  /* z-index: 100; */
  /* opacity: 0;
  visibility: hidden; */
  transition: opacity 0.2s lienar, visibility 0.2s linear;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* .dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
} */

.dropdown-list_item {
  z-index: 100;
  position: relative;
  padding: 15px 0 15px 10px;
  font-size: inherit;
  /* margin-left: 10px; */
}

.dropdown-list_item:hover {
  background-color: #4358f2;
  /* margin-left: 0; */
}

.dropdown-select {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 15px 0 15px 0;
  /* overflow: scroll; */
}

.dropdown-select span {
  margin-left: 10px;
  padding-right: 10px;
  /* height: 100%; */
}

.dropdown-select i {
  margin-right: 10px;
}

.search-input {
  height: 48px;
  width: 480px;
  font-size: 18px;
  outline: none;
  border-left: 0px;
  border: none;
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-input::placeholder {
  opacity: 25%;
  padding-left: 20px;
}

@media screen and (max-width: 400px) {
  .searchbar {
    width: 300px;
  }
  .navbar-title > h1 {
    font-size: 25px;
  }
}
